.app-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 3rem;
    background-color: #111827;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1rem;
}
.search-theme-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem
}
.theme-button{
    padding: 0 0.5rem;
    text-align: center;
    border-radius: 7rem;
    background-color: lightblue;
}
.search-bar{
text-align: center;
}
@media screen and (max-width: 360) {
    .search-bar{
        display: none;
    }
}

[data-theme="dark"] .search-bar{
    background-color: #ffff;
    color: black;
    border-radius: 0.5rem;
}

[data-theme="light"] .search-bar{
    background-color: #111827;
    color: #ffffff;
    border-radius: 0.5rem;
}
[data-theme="dark"] .app-header{
    background-color: #111827;
    color: #ffffff;
}
[data-theme="light"] .app-header{
    color: #111827;
    background-color: #ffffff;
}