@import 'tailwindcss';

:root {
  --white: #ffffff;
  --dark: #111827;
  --font-size: 16px;
}


.app-container{
  --webkit-scrollbar: none
}

[data-theme="light"]{
  background-color: var(--white);
  color: var(--dark);
}
[data-theme="dark"]{
  background-color: var(--dark);
  color: var(--white);
}

body {
  background-color: inherit;
  color: inherit;
  min-height: 100vh;
}